<% @criteria.each do |t| %>
  <tr>
    <td><input type="checkbox"></td>

    <td><%= link_to '', t, method: :delete, :class=>'glyphicon glyphicon-trash' %></td>
    <td><%= link_to '', sort_up_criteria_path(t), :class=>'js-criterium-sort glyphicon glyphicon-arrow-up' %></td>
    <td><%= link_to '', sort_down_criteria_path(t), :class=>'js-criterium-sort glyphicon glyphicon-arrow-down' %></td>
  </tr>
<% end %>