<h1>Weigh Options</h1>
<div class="row">
  <div class="col-sm-12">
    <div class="col-sm-5">
      <h2>Your Options</h2>
      <ul>
        <li>Tesla</li>
        <li>Minivan</li>
        <li></li>
        <li></li>
      </ul>
    </div>
    <div class="col-sm-5">
      <h2>The Deciding factors</h2>
      <ul>
        <li>Cost</li>
        <li>Max Speed</li>
        <li></li>
        <li></li>
      </ul>
    </div>
</div>
</div>