<h1>Decisions</h1>
<p>Form Forthcoming</p>

<ul>
  <li>Which car should I buy?</li>
  <li>Who should I be friends with?</li>
  <li>Which gym should I join?</li>
  <li><a href="/options">Options</a></li>

</ul>

